- cache('archived_posts', skip_digest: true) do
  .archive
    - archive_list = Post.archive_list
    - archive_list.each_key do | year |
      %ul{class: 'year menu'}
        %li{id: "menu_#{year}"}
          %h2
            %a{href: "#menu_#{year}"}= year
          - archive_list[year].each_key do | month |
            %ul{class: "month menu"}
              %li{id: "#{month}"}
                = Date::MONTHNAMES[month]
                %ul{class: 'month'}
                  - archive_list[year][month].each do | post |
                    %li
                      %a{href: post_url(post), class: 'link' }= post.title 
