%div{id: 'sidebar', class: 'nav nav-stacked'}
  = # render 'posts/recent_posts'
  .logo
    = image_tag 'rd_logo.svg', alt: 'Rusty Dinosaur', size: '200x196'
    .title 
      &nbsp;RUSTY DINOSAUR
    .byline
      Screaming at inanimate objects for 30 years
  = # render 'posts/archive' 
  = # render 'posts/tags'
  = # render 'posts/stats'
  = #render 'posts/search'
